body{
    background-color: cadetblue;
}
h1{
    font-size: 50px;
    color: rgb(71,62,62);
    margin: 10px;
}
h2{
    font-size: 30px;
}
ol{
    padding: 0;
    margin: 30px auto 0 auto;
    list-style: none;
}

li{
    background-color: palevioletred;
    border-radius: 15px;
    font-size: larger;
    padding: 16px;
    margin: 30px;
}
p{
    text-align: center;
}
a{
    background-color: rgb(245, 245, 219);
    border-radius: 10px;
    padding: 10px 40px;;
    border: 5px dashed rgb(54, 43, 23);
}
a:hover{
    background-color: rgb(255, 43, 21);
    text-decoration: none;
}